treeview {
    background-color: transparent;
    padding: 0px;
}

box {
    border-style: solid;
    border-color: #242424;
}

label {
    margin-left: 2px;
}

button {
    background-color: transparent;
    border-radius: 20px;
    border-style: none;
    box-shadow: none;
}

headerbar {
    border-style: none;
    /*border-color: #242424;
    background-color: transparent;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
    margin: 0px;*/
}

tab {
    background-color: #242424;
    border-radius: 5px 5px 0 0;
}

notebook {
    border-style: solid;
    border-color: #242424;
    border-bottom-color: black;
    border-width: 1px;
}

tabs {
    border-style: solid;
    border-color: #242424;
}

.scrolled {
    border-style: solid;
    border-color: #242424;
    background-color: #242424;
}

.background {
    border-style: solid;
    border-color: #242424;
}


